/* CSS STYLESHEET FOR LOGIN PAGE */

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background: black;
    color: white;
}

.navbar:hover {
    color:black;
}


.nav-link, .navbar-brand {
	color:skyblue;
}


body {
    padding-top: 55px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: white;
}

.a-footer {
	color:#26a5d3;
    /* color: white; */
}

a:hover {
    color:black;
    text-decoration: none;
    cursor:pointer;
}

/* .row.content {
    border: 1px solid black;
} */

#google-login, #github-login {
    color: black !important;
    border: 3px solid black;
    padding: 15px;
    background-color: rgb(243, 166, 24);
}

#google-login:hover, #github-login:hover {
    color: black !important;
    border: 3px solid black;
    padding: 15px;
    background-color: gold;
}

/* Set black background color, white text and some padding */
footer {
    background: black;
    color: white;
    padding: 15px;
}

footer {
    background-color:black;
    color: white;
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.logo {
    background-color: black;
}

.headline{
    font-family: 'Racing Sans One', cursive;
    font-size: 30px;
}
.a-footer{
	color: skyblue;
}

/* p {
    color: red;
} */
