/* CSS STYLESHEET FOR LOGIN PAGE */

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background: black;
    color: white;
}

.navbar:hover {
    color:black;
}

/* .main-logo { 
    align-content: center; 
} */


.navbar-brand {
    font-family: 'Fredericka the Great', cursive;
    font-size: 30px;
    /* font-family: 'Rye', cursive; */
}

.nav-link, .navbar-brand {
	color: white;
}

.biline {
    font-family: 'Fredericka the Great', cursive;
    font-size: 30px;
}

body {
    padding-top: 55px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: white;
}

.a-footer {
	color:#26a5d3;
    /* color: white; */
}

a:hover {
    color:black;
    text-decoration: none;
    cursor:pointer;
}

/* .row.content {
    border: 1px solid black;
} */

#google-login, #github-login {
    color: black !important;
    border: 3px solid black;
    padding: 15px;
    background-color: lightgrey;
}

#google-login:hover, #github-login:hover {
    color: black !important;
    border: 3px solid black;
    padding: 15px;
    background-color: lightgrey;
}

/* Set black background color, white text and some padding */
footer {
    background: black;
    color: white;
    padding: 15px;
}

footer {
    background-color:black;
    color: white;
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.logo {
    background-color: black;
}

.headline{
    font-family: 'Racing Sans One', cursive;
    font-size: 30px;
}
.a-footer{
	color: skyblue;
}

/* body {
    background-image: url('https://cdn.pixabay.com/photo/2017/02/03/17/17/night-sky-2035603_960_720.jpg');
    height: 200px;
    background-repeat: no-repeat;
    background-position: center bottom;

} */